<h3>Cloture de Campagne {{ campagne.idDdqCategorie.libelle }}</h3>

<p>Bonjour,</p>
<p>La campagne {{ campagne.idDdqCategorie.libelle }} {{ campagne.datedebut|date('Y') }} est dès à présent clôturée.</p>


